@font-face {
  font-family: Whitney-Medium;
  src: url("./medium.otf");
}

@font-face {
  font-family: Whitney-Light;
  src: url("./light.otf");
}

body {
  background: #36393f;
}

p {
  margin: 0;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 5rem;
}

.profile-picture {
  display: flex;
  align-items: center;
}

.profile-picture img {
  text-align: justify;
  width: 45px;
  border-radius: 50%;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message-header {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.message-header div {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.message-header p {
  font-family: Whitney-Medium;
  font-size: 1.1rem;
  display: inline;
  line-height: 1rem;
}

.message-header img {
  display: inline;
  width: 1rem;
}

.message-header span {
  font-family: Whitney-Light;
  font-size: 0.8rem;
  color: white;
  opacity: 0.5;
}

.message-content p {
  font-family: Whitney-Light;
  font-size: 1rem;
}

div:has(.setting-color) {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.setting-color {
  display: none;
  font-family: Whitney-Medium;
  background-color: #161515;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.setting-color.set {
  background-color: #006200;
  color: #e5eddf;
}

.color-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.color-input {
  background-color: #282a2f;
  color: white;
  font-family: Whitney-Medium;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
}

.set-button {
  font-family: Whitney-Medium;
  color: #030304;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: none;
  padding: 10px;
  background: #7288c1;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.set-button:hover {
  background-color: #8da0cf;
}

.set-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.dominant-colors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.dominant-color {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  cursor: pointer;
}

@media (max-width: 485px) {
  .message-header p {
    max-width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (max-width: 400px) {
  .color-container {
    flex-direction: column-reverse;
  }

  .set-button {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 295px) {
  .message-header p {
    max-width: max-content;
    white-space: break-spaces;
  }
}
