@font-face {
  font-family: Whitney-Medium;
  src: url("./medium.otf");
}

@font-face {
  font-family: Whitney-Light;
  src: url("./light.otf");
}

body {
  background: #36393f;
}

.container {
  padding: 2rem 0;
  display: grid;
  place-items: center;
  gap: 2rem;
}

.message-container {
  display: flex;
  gap: 1rem;
}

.profile-picture img {
  border-radius: 50%;
}

.message-box {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap: 5px;
}

.text {
  font-size: 1.5rem;
  margin: 0;
}

.avatar {
  width: 50px;
}

.message-name {
  font-family: Whitney-Medium;
}

.role-icon {
  position: relative;
  top: 3px;
  height: 30px;
  margin-left: 3px;
}

.message-content {
  font-family: Whitney-Light;
}

.color-input {
  background-color: #282a2f;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-indent: 5px;
  outline: none;
}

.set-button {
  border-radius: 3px;
  border: none;
  color: #1f273d;
  font-weight: bold;
  padding: 10px;
  background: #7288c1;
  cursor: pointer;
}
@media (max-width: 500px) {
  .text {
    font-size: 1.2rem;
  }

  .color-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}
